
<div class="container details bg-white p-5 rounded-4">
    <div class="row details-header">
      <div class="col d-flex gap-3 align-items-end">
        <span><i class="fa-solid fa-people-roof fa-6x"></i></span>
        <div>
          <h2>{{department.name}}</h2>
          <h5><strong>Total Employees:</strong> {{department.totalEmployees}}</h5>
          <a class="link" href="/departments/employees?departmentId={{department._id}}">Check Employees <i class="fa-solid fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="col d-flex flex-column justify-content-start align-items-end">
        {{#requireManager user.role}}
        <a href="/departments/{{department._id}}/edit" class="btn btn-edit btn-cta rounded-5"
          ><i class="fa-solid fa-wrench"></i> Edit Infomation</a
        >
        {{/requireManager}}
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <div>
        </div>
      </div>
    </div>
    {{#requireAdmin user.role}}
    <div class="d-flex justify-content-end">
      <a href="/departments/{{department._id}}/delete" class="btn btn-delete btn-cta rounded-5 px-4"><i class="fa-regular fa-circle-xmark"></i> Delete Department</a>
    </div>
    {{/requireAdmin}}
  </div>

  <script src="/js/confirm.js"></script>