
<div class="container details bg-white p-5 rounded-4">
    <div class="row details-header">
      <div class="col d-flex gap-3 align-items-end">
        <span class="details-icon"><i class="fa-solid fa-person-walking-dashed-line-arrow-right"></i></span>
        <div>
          <h2>Leave Request</h2>
        </div>
      </div>
      <div class="col d-flex flex-column justify-content-start align-items-end">
        {{#leaveNotResolved leave.status}}
        <a href="/leaves/{{leave._id}}/edit" class="btn btn-edit btn-cta rounded-5"
          ><i class="fa-solid fa-wrench"></i> Edit Leave</a
        >
        {{/leaveNotResolved}}
      </div>
    </div>
    <hr />
    <div class="row">
      <div class="col">
        <p><strong>Employee:</strong> <a class="link" href="/employees/{{employee._id}}/details">{{employee.name}}</a></p>
        <p><strong>Phone:</strong> {{employee.phone}}</p>
        <p><strong>Email:</strong> {{employee.email}}</p>
      </div>
      <div class="col">
        <div>
          <p><strong>Leave Type:</strong> {{leave.type}}</p>
          <p><strong>Start Date(dd/mm/yy):</strong> {{formatDate leave.startDate}}</p>
          <p><strong>End (dd/mm/yy):</strong> {{formatDate leave.endDate}}</p>
          <p><strong>Rejected/Approved:</strong> {{leave.status}}</p>
          {{#leaveNotResolved leave.status}}
                    {{#requireManager user.role}}
                        <div><a class="btn btn-cta btn-primary rounded-5 px-3 confirm" href="/leaves/{{leave._id}}/approved">Approve</a>
                        <a class="btn btn-cta btn-delete rounded-5 px-3 confirm" href="/leaves/{{leave._id}}/rejected">Reject</a></div>
                    {{/requireManager}}
                  {{/leaveNotResolved}}
        </div>
      </div>
    </div>
    {{#requireAdmin user.role}}
    <div class="d-flex justify-content-end">
      <a href="/leaves/{{leave._id}}/delete" class="btn btn-delete btn-cta rounded-5 px-4 confirm"><i class="fa-regular fa-circle-xmark"></i> Delete Leave</a>
    </div>
    {{/requireAdmin}}
  </div>

 <script src="/js/confirm.js"></script>