<div class="container details bg-white p-5 rounded-4">
  <div class="row details-header">
    <div class="col d-flex gap-3 align-items-end">
      <span class="details-icon"><i class="fa-solid fa-file-pen"></i></span>
      <div>
        <h2>Performance Review</h2>

      </div>
    </div>
    <div class="col d-flex flex-column justify-content-start align-items-end">
      {{#requireManager user.role}}
        <a href="/reviews/{{review._id}}/edit" class="btn btn-edit btn-cta rounded-5"><i
            class="fa-solid fa-wrench"
          ></i>
          Edit Infomation</a>
      {{/requireManager}}
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col">
      <p><strong>Employee:</strong> <a class="details-link" href="/employees/{{employee._id}}/details">{{employee.name}}</a></p>
      <p><strong>Rating:</strong> {{review.rating}}/10</p>
    </div>
    <div class="col">
      <div>
        <p><strong>Reviewer:</strong> <a class="details-link" href="/employees/{{reviewer._id}}/details">{{reviewer.name}}</a></p>
        <p><strong>Date(dd/mm/yy):</strong> {{formatDate review.date}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    <h5>Comments:</h5>
    <p>{{review.comments}}</p>
  </div>
  {{#requireAdmin user.role}}
    <div class="d-flex justify-content-end">
      <a href="/reviews/{{review._id}}/delete" class="btn btn-delete btn-cta rounded-5 px-4 confirm">Delete Review</a>
    </div>
  {{/requireAdmin}}
</div>

<script src="/js/confirm.js"></script>