<div class="container details bg-white p-5 rounded-4">
  <h3>Edit Leave</h3>
  <form class="container p-3 m-auto" action="" method="POST">
    <div class="row">

      <div class="col mb-3">
        <label for="employeeName" class="form-label">Employee Name</label>
        <input
          type="text"
          class="form-control"
          id="employeeName"
          name="employeeName"
          value="{{employee.name}}"
          disabled
        />
        <input
          type="text"
          class="form-control"
          id="employeeId"
          name="employeeId"
          value="{{employee._id}}"
          hidden
        />
      </div>

      <div class="col mb-3">
        <label for="type" class="form-label">Type</label>
        <input
          type="text"
          class="form-control"
          id="type"
          name="type"
          value="{{leave.type}}"
        />
      </div>
    </div>

    <div class="row">

      <div class="col mb-3">
        <label for="startDate" class="form-label">Start Date</label>
        <input
          type="date"
          class="form-control"
          id="startDate"
          name="startDate"
          value="{{inputDate leave.startDate}}"
        />
      </div>

      <div class="col mb-3">
        <label for="endDate" class="form-label">End Date</label>
        <input
          type="date"
          class="form-control"
          id="endDate"
          name="endDate"
          value="{{inputDate leave.endDate}}"
        />
      </div>
    </div>

    <button type="submit" class="btn btn-primary btn-add rounded-5 mt-4 px-4 py-2"><i class="fa-solid fa-floppy-disk"></i> Save
      Changes</button>
  </form>

</div>