<div class="container details bg-white p-5 rounded-4">
  <h3>Edit Salary</h3>
  <form class="container p-4 m-auto" method="POST">
    <div class="row">

      <div class="col mb-3">
        <label for="amount" class="form-label">Amount</label>
        <input
          type="text"
          class="form-control"
          id="amount"
          name="amount"
          value="{{salary.amount}}"
        />
      </div>

      <div class="col mb-3">
        <label for="currency" class="form-label">Currency</label>
        <select class="form-control" name="currency" id="currency">
          {{#generateOptions currencies salary.currency}}{{/generateOptions}}
        </select>
      </div>

    </div>
    <button type="submit" class="btn btn-primary btn-add rounded-5 mt-4">Save
      Changes</button>
  </form>


  {{#if salary.bonuses.length}}
    <ul class="list-group">
      <h4>Bonuses</h4>
      {{#each salary.bonuses}}
        <li class="list-group-item d-flex justify-content-between">
          <div>
            <p><strong>Type:</strong> {{type}}</p>
            <p><strong>Amount:</strong> {{amount}} {{../salary.currency}}</p>
          </div>
          <div>
            <a href="/salary/{{../salary._id}}/removeBonus?bonusId={{_id}}"><i
                class="fa-solid fa-delete-left fa-xl"
              ></i>
              Remove bonus</a>
          </div>
        </li>
      {{/each}}
    </ul>
  {{/if}}
<hr>
  <h4>Add Bonus</h4>
  <form class="container p-4 m-auto" method="POST" action="/salary/{{salary._id}}/addBonus">
    <div class="row">
    <div class="col mb-3">
      <label for="type" class="form-label">Type</label>
      <input
        type="text"
        class="form-control"
        id="type"
        name="type"
        placeholder="Specify type"
      />
    </div>

    <div class="col mb-3">
      <label for="amount" class="form-label">Amount</label>
      <input
        type="number"
        class="form-control"
        id="amount"
        name="amount"
        placeholder="Specify amount"
      />
    </div>

    </div>
        <button type="submit" class="btn btn-primary btn-add rounded-5 mt-4">Add bonus</button>
    
  </form>

</div>