<div>
  <ul class="pagination">
    {{#if prevPage}}
      <li class="page-item">
        <a class="page-link" href="?{{prevPage}}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {{/if}}

    {{#if totalPages}}
      <li class="page-item">
        <a class="page-link">{{currentPage}}</a>
      </li>
      <li class="page-item">
          <span class="page-link disabled">/ {{totalPages}}</span>
      </li>
    {{/if}}
    {{#if nextPage}}
      <li class="page-item">
        <a class="page-link" href="?{{nextPage}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {{/if}}
    {{#if totalPages}}
    <form class="mx-3 goToPage" method="GET">
      <input
        type="number"
        min="1"
        max="{{totalPages}}"
        class="form-control"
        id="page"
        name="page"
        placeholder="Go to..."
      />
    </form>
    {{else}}
    <p class="p-2">No records found...</p>
    {{/if}}
  </ul>
</div>

<script>
      const form = document.querySelector('.goToPage');

    form.addEventListener('submit', (event) => { 
      event.preventDefault(); 
      const queryObj = new URLSearchParams(location.search);
      queryObj.forEach((value, key) => {
        if (key !== "page") {
            const hiddenInput = document.createElement('input');
            hiddenInput.type = 'hidden';
            hiddenInput.name = key;
            hiddenInput.value = value;
        
            form.appendChild(hiddenInput);
          }
      });
      form.submit(); 
    });

</script>