        <div class="container bg-white p-4 rounded-3 table-wrapper">
            <!-- content header -->
            
            <div class="content-header d-flex justify-content-between">
              <h3 class="content-title">Leave Requests</h3>
              <a href="/leaves/add" class="btn btn-primary btn-add rounded-5 py-2">
                <i class="fa-solid fa-plus"></i> Request Leave
              </a>
            </div>
              {{> searchForm}}
            <div class="p-2 rounded-4">
              <a href="?sort=startDate" class="btn btn-primary ml-1">Sort By Start</a>
              <a href="?sort=endDate" class="btn btn-primary ml-1">Sort By End</a>
              <a href="?sort=status" class="btn btn-primary">Sort By Status</a>
            </div>
            <!-- table -->
            <table class="table table-striped">
              <thead>
                
                <tr>
                  <th scope="col">Employee Name</th>
                  <th scope="col">Leave Type</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                {{#each leaves.results}}
                <tr class="clickable-row" data-href="/leaves/{{_id}}/details">
                  <td><a class="link" href="/employees/{{employee._id}}/details">{{employee.name}}</a></td>
                  <td>{{type}}</td>
                  <td>{{formatDate startDate}}</td>
                  <td>{{formatDate endDate}}</td>
                  <td>{{status}}</td>
                  
                </tr>
                {{/each}}
              </tbody>
            </table>
            {{> pagination leaves}}
          </div>
          