        <div class="container bg-white p-4 rounded-3 table-wrapper">
            <!-- content header -->
            <div class="content-header d-flex justify-content-between">
              <h3 class="content-title">Reviews List</h3>
              {{#requireManager user.role}}
              <a href="/reviews/add" class="btn btn-primary btn-add rounded-5 py-2">
                <i class="fa-solid fa-plus"></i> Write a review
              </a>
              {{/requireManager}}
            </div>
            <!-- table -->
            <div class="p-2 rounded-4">
              <a href="?sort=date" class="btn btn-primary ml-1">Sort By Date &darr;</a>
              <a href="?sort=date&order=desc" class="btn btn-primary ml-1">Sort By Date &uparrow;</a>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Reviewee</th>
                  <th scope="col">Reviewer</th>
                  <th scope="col">Rating</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                {{#each reviews.results}}
                <tr class="clickable-row" data-href="/reviews/{{_id}}">
                  <td>{{employeeId.name}}</td>
                  <td>{{reviewerId.name}}</td>
                  <td>{{rating}}/10</td>
                  <td>{{formatDate date}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
            {{>pagination reviews}}
          </div>